In [2]:
import pyspark

In [3]:
sc = pyspark.SparkContext()

22/01/21 14:42:43 WARN Utils: Your hostname, z-ThinkPad-E490 resolves to a loopback address: 127.0.1.1; using 192.168.1.109 instead (on interface wlp5s0)
22/01/21 14:42:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/z/220117bd/env/lib/python3.10/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/21 14:42:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
rdd1 = sc.textFile('pg1661.txt')
rdd1.take(10)

["Project Gutenberg's The Adventures of Sherlock Holmes, by Arthur Conan Doyle",
 '',
 'This eBook is for the use of anyone anywhere at no cost and with',
 'almost no restrictions whatsoever.  You may copy it, give it away or',
 're-use it under the terms of the Project Gutenberg License included',
 'with this eBook or online at www.gutenberg.net',
 '',
 '',
 'Title: The Adventures of Sherlock Holmes',
 '']

In [5]:
rdd2 = rdd1.map(lambda s: s.lower())
rdd2.take(10)

["project gutenberg's the adventures of sherlock holmes, by arthur conan doyle",
 '',
 'this ebook is for the use of anyone anywhere at no cost and with',
 'almost no restrictions whatsoever.  you may copy it, give it away or',
 're-use it under the terms of the project gutenberg license included',
 'with this ebook or online at www.gutenberg.net',
 '',
 '',
 'title: the adventures of sherlock holmes',
 '']

In [8]:
import re

rdd3 = rdd2.flatMap(lambda s: re.findall(r"\w+", s))
rdd3.take(20)

['project',
 'gutenberg',
 's',
 'the',
 'adventures',
 'of',
 'sherlock',
 'holmes',
 'by',
 'arthur',
 'conan',
 'doyle',
 'this',
 'ebook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone']

In [9]:
rdd4 = rdd3.map(lambda s: (s, 1))
rdd4.take(20)

[('project', 1),
 ('gutenberg', 1),
 ('s', 1),
 ('the', 1),
 ('adventures', 1),
 ('of', 1),
 ('sherlock', 1),
 ('holmes', 1),
 ('by', 1),
 ('arthur', 1),
 ('conan', 1),
 ('doyle', 1),
 ('this', 1),
 ('ebook', 1),
 ('is', 1),
 ('for', 1),
 ('the', 1),
 ('use', 1),
 ('of', 1),
 ('anyone', 1)]

In [10]:
rdd5 = rdd4.reduceByKey(lambda a, x: a + x)
rdd5.take(20)

[('project', 89),
 ('gutenberg', 95),
 ('s', 382),
 ('adventures', 11),
 ('of', 2778),
 ('holmes', 467),
 ('arthur', 24),
 ('doyle', 4),
 ('this', 535),
 ('ebook', 10),
 ('is', 1150),
 ('use', 46),
 ('anyone', 29),
 ('anywhere', 4),
 ('at', 784),
 ('no', 400),
 ('restrictions', 2),
 ('whatsoever', 2),
 ('may', 212),
 ('give', 64)]

In [12]:
rdd6 = rdd5.map(lambda x: (x[1], x[0]))
rdd6.take(20)

[(89, 'project'),
 (95, 'gutenberg'),
 (382, 's'),
 (11, 'adventures'),
 (2778, 'of'),
 (467, 'holmes'),
 (24, 'arthur'),
 (4, 'doyle'),
 (535, 'this'),
 (10, 'ebook'),
 (1150, 'is'),
 (46, 'use'),
 (29, 'anyone'),
 (4, 'anywhere'),
 (784, 'at'),
 (400, 'no'),
 (2, 'restrictions'),
 (2, 'whatsoever'),
 (212, 'may'),
 (64, 'give')]

In [13]:
rdd7 = rdd6.sortByKey()
rdd7.take(20)

[(1, 'posting'),
 (1, '2011'),
 (1, '29'),
 (1, '2002'),
 (1, 'emotions'),
 (1, 'passions'),
 (1, 'gibe'),
 (1, 'intrusions'),
 (1, 'temperament'),
 (1, 'distracting'),
 (1, 'sensitive'),
 (1, 'lenses'),
 (1, 'absorb'),
 (1, 'alternating'),
 (1, 'ambition'),
 (1, 'odessa'),
 (1, 'trepoff'),
 (1, 'atkinson'),
 (1, 'trincomalee'),
 (1, 'delicately')]

In [14]:
s = rdd7.collect()

In [15]:
s[:10]

[(1, 'posting'),
 (1, '2011'),
 (1, '29'),
 (1, '2002'),
 (1, 'emotions'),
 (1, 'passions'),
 (1, 'gibe'),
 (1, 'intrusions'),
 (1, 'temperament'),
 (1, 'distracting')]

In [16]:
rdd7.count()

8166

In [18]:
with open("stat.txt", "wt") as f:
    f.write("\n".join(f"{word} {number}" for number, word in s))

In [ ]:
Найти разность температур в самом теплом и самом холодном городах на основаниии
статистики за последние 50 лет

In [19]:
import os
os.getcwd()

'/home/z/220117bd'

In [20]:
r"c:\new\file"

'c:\\new\\file'

In [21]:
rdd1 = sc.textFile("../Downloads/GlobalLandTemperaturesByMajorCity.csv")
rdd1.take(5)

['dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude',
 "1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W",
 "1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W",
 "1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W",
 "1849-04-01,26.14,1.3869999999999998,Abidjan,Côte D'Ivoire,5.63N,3.23W"]

In [22]:
rdd2 = rdd1.filter(lambda x: not x.startswith('dt'))
rdd2.take(5)

["1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W",
 "1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W",
 "1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W",
 "1849-04-01,26.14,1.3869999999999998,Abidjan,Côte D'Ivoire,5.63N,3.23W",
 "1849-05-01,25.427,1.2,Abidjan,Côte D'Ivoire,5.63N,3.23W"]

In [24]:
rdd3 = rdd2.map(lambda x: x.split(','))
rdd3.take(5)

[['1849-01-01',
  '26.704',
  '1.435',
  'Abidjan',
  "Côte D'Ivoire",
  '5.63N',
  '3.23W'],
 ['1849-02-01',
  '27.434',
  '1.362',
  'Abidjan',
  "Côte D'Ivoire",
  '5.63N',
  '3.23W'],
 ['1849-03-01',
  '28.101',
  '1.612',
  'Abidjan',
  "Côte D'Ivoire",
  '5.63N',
  '3.23W'],
 ['1849-04-01',
  '26.14',
  '1.3869999999999998',
  'Abidjan',
  "Côte D'Ivoire",
  '5.63N',
  '3.23W'],
 ['1849-05-01', '25.427', '1.2', 'Abidjan', "Côte D'Ivoire", '5.63N', '3.23W']]

In [26]:
rdd4 = rdd3.map(lambda x: (x[0], x[1], x[3]))
rdd4.take(5)

[('1849-01-01', '26.704', 'Abidjan'),
 ('1849-02-01', '27.434', 'Abidjan'),
 ('1849-03-01', '28.101', 'Abidjan'),
 ('1849-04-01', '26.14', 'Abidjan'),
 ('1849-05-01', '25.427', 'Abidjan')]

In [28]:
rdd5 = rdd4.map(lambda x: (int(x[0][:4]), (x[1], x[2])))
rdd5.take(5)

[(1849, ('26.704', 'Abidjan')),
 (1849, ('27.434', 'Abidjan')),
 (1849, ('28.101', 'Abidjan')),
 (1849, ('26.14', 'Abidjan')),
 (1849, ('25.427', 'Abidjan'))]

In [30]:
rdd6 = rdd5.sortByKey(False)
rdd6.first()

(2013, ('27.750999999999998', 'Abidjan'))

In [33]:
rdd7 = rdd4.filter(lambda x: int(x[0][:4])>1963)
rdd7.take(5)

[('1964-01-01', '26.551', 'Abidjan'),
 ('1964-02-01', '28.374000000000002', 'Abidjan'),
 ('1964-03-01', '28.338', 'Abidjan'),
 ('1964-04-01', '27.461', 'Abidjan'),
 ('1964-05-01', '26.394000000000002', 'Abidjan')]

In [34]:
rdd4.count()

239177

In [35]:
rdd7.count()

59700

In [44]:
rdd8 = rdd7.filter(lambda x: x[1] != '')
rdd8.take(5)

[('1964-01-01', '26.551', 'Abidjan'),
 ('1964-02-01', '28.374000000000002', 'Abidjan'),
 ('1964-03-01', '28.338', 'Abidjan'),
 ('1964-04-01', '27.461', 'Abidjan'),
 ('1964-05-01', '26.394000000000002', 'Abidjan')]

In [45]:
rdd9 = rdd8.map(lambda x: (x[2], (float(x[1]), 1)))
rdd9.take(5)

[('Abidjan', (26.551, 1)),
 ('Abidjan', (28.374000000000002, 1)),
 ('Abidjan', (28.338, 1)),
 ('Abidjan', (27.461, 1)),
 ('Abidjan', (26.394000000000002, 1))]

In [51]:
rdd10 = rdd9.reduceByKey(lambda a, x: (a[0] + x[0], a[1] + x[1]))
rdd10.collect()

[('Abidjan', (15853.798, 596)),
 ('Addis Abeba', (10656.361000000006, 596)),
 ('Ahmadabad', (16122.282000000005, 596)),
 ('Aleppo', (10695.218999999988, 596)),
 ('Alexandria', (12410.092000000008, 596)),
 ('Baghdad', (13894.767999999991, 596)),
 ('Bombay', (16173.183000000014, 596)),
 ('Calcutta', (15818.219999999994, 596)),
 ('Casablanca', (10545.303999999991, 596)),
 ('Changchun', (3403.3880000000026, 596)),
 ('Chengdu', (6539.732000000008, 596)),
 ('Chicago', (6413.870000000001, 597)),
 ('Chongqing', (10215.150999999987, 596)),
 ('Dhaka', (15486.513999999983, 596)),
 ('Faisalabad', (14668.851999999999, 596)),
 ('Fortaleza', (16352.733000000004, 596)),
 ('Guangzhou', (13096.371000000001, 596)),
 ('Harbin', (2643.501999999998, 596)),
 ('Ibadan', (15947.490000000022, 596)),
 ('Jaipur', (15444.839999999995, 596)),
 ('Jakarta', (16091.608000000017, 596)),
 ('Jiddah', (16735.74899999998, 596)),
 ('Kano', (15824.741, 596)),
 ('Lahore', (14668.851999999999, 596)),
 ('Los Angeles', (9695.929000000006, 597)),
 ('Manila', (16070.832999999986, 596)),
 ('Mexico', (9617.757999999996, 597)),
 ('Nagoya', (9095.040999999994, 596)),
 ('Nagpur', (15597.757999999994, 596)),
 ('New Delhi', (15304.077999999994, 596)),
 ('São Paulo', (12072.65499999999, 596)),
 ('Saint Petersburg', (2761.509000000001, 596)),
 ('Salvador', (15036.220000000003, 596)),
 ('Santiago', (3676.6410000000005, 596)),
 ('Surat', (16005.444999999996, 596)),
 ('Sydney', (10378.048999999999, 596)),
 ('Taipei', (13545.606000000009, 596)),
 ('Tangshan', (7269.480999999995, 596)),
 ('Umm Durman', (17571.669000000016, 596)),
 ('Xian', (7104.632000000003, 596)),
 ('Ankara', (6491.891000000009, 596)),
 ('Bangalore', (15118.952000000014, 596)),
 ('Bangkok', (16499.287999999997, 596)),
 ('Belo Horizonte', (12891.17699999999, 596)),
 ('Berlin', (5714.051999999992, 596)),
 ('Bogotá', (12222.531, 596)),
 ('Brasília', (13272.282999999992, 596)),
 ('Cairo', (12975.88700000001, 596)),
 ('Cali', (13291.162000000011, 596)),
 ('Cape Town', (9847.449999999995, 596)),
 ('Dakar', (14949.838, 596)),
 ('Dalian', (6459.366999999999, 596)),
 ('Dar Es Salaam', (15546.414000000008, 596)),
 ('Delhi', (15304.077999999994, 596)),
 ('Durban', (12404.943000000001, 596)),
 ('Gizeh', (12975.88700000001, 596)),
 ('Harare', (12273.349000000027, 596)),
 ('Ho Chi Minh City', (16495.587000000014, 596)),
 ('Hyderabad', (16319.099000000017, 596)),
 ('Istanbul', (8342.656, 596)),
 ('Izmir', (10540.749000000002, 596)),
 ('Jinan', (8135.328, 596)),
 ('Kabul', (8873.167, 596)),
 ('Kanpur', (15052.427999999989, 596)),
 ('Karachi', (15838.78200000002, 596)),
 ('Kiev', (4652.513999999994, 596)),
 ('Kinshasa', (14437.606999999996, 596)),
 ('Lagos', (16074.432999999983, 596)),
 ('Lakhnau', (15052.427999999989, 596)),
 ('Lima', (10201.531, 596)),
 ('London', (5962.376000000003, 596)),
 ('Luanda', (14354.321000000022, 596)),
 ('Madras', (17245.080000000005, 596)),
 ('Madrid', (7131.705000000006, 596)),
 ('Mashhad', (7951.455000000003, 596)),
 ('Melbourne', (8227.535999999993, 596)),
 ('Mogadishu', (16396.20799999999, 596)),
 ('Montreal', (3191.8530000000005, 597)),
 ('Moscow', (2901.3990000000026, 596)),
 ('Nairobi', (9799.038999999997, 596)),
 ('Nanjing', (9584.19100000001, 596)),
 ('New York', (6161.066000000001, 597)),
 ('Paris', (6547.733, 596)),
 ('Peking', (7444.598999999996, 596)),
 ('Pune', (14996.31600000001, 596)),
 ('Rangoon', (16239.753999999997, 596)),
 ('Rio De Janeiro', (14516.877999999986, 596)),
 ('Riyadh', (15403.519, 596)),
 ('Rome', (7457.959000000002, 596)),
 ('Santo Domingo', (15823.049999999997, 597)),
 ('Seoul', (6728.927, 596)),
 ('Shanghai', (9809.389999999996, 596)),
 ('Shenyang', (4717.866000000001, 596)),
 ('Singapore', (16112.594999999992, 596)),
 ('Surabaya', (16269.647000000003, 596)),
 ('Taiyuan', (5117.978000000001, 596)),
 ('Tianjin', (7444.598999999996, 596)),
 ('Tokyo', (7763.893, 596)),
 ('Toronto', (3912.6929999999993, 597)),
 ('Wuhan', (10277.295000000002, 596))]

In [54]:
rdd11 = rdd10.map(lambda x: (x[1][0]/x[1][1], x[0]))
rdd11.collect()

[(26.600332214765103, 'Abidjan'),
 (17.87980033557048, 'Addis Abeba'),
 (27.050808724832223, 'Ahmadabad'),
 (17.944998322147633, 'Aleppo'),
 (20.82230201342283, 'Alexandria'),
 (23.313369127516765, 'Baghdad'),
 (27.136213087248343, 'Bombay'),
 (26.540637583892607, 'Calcutta'),
 (17.693463087248308, 'Casablanca'),
 (5.7103825503355745, 'Changchun'),
 (10.972704697986591, 'Chengdu'),
 (10.743500837520939, 'Chicago'),
 (17.13951510067112, 'Chongqing'),
 (25.98408389261742, 'Dhaka'),
 (24.6121677852349, 'Faisalabad'),
 (27.437471476510073, 'Fortaleza'),
 (21.973776845637584, 'Guangzhou'),
 (4.435406040268453, 'Harbin'),
 (26.757533557047015, 'Ibadan'),
 (25.914161073825493, 'Jaipur'),
 (26.999342281879223, 'Jakarta'),
 (28.08011577181205, 'Jiddah'),
 (26.551578859060402, 'Kano'),
 (24.6121677852349, 'Lahore'),
 (16.241087102177563, 'Los Angeles'),
 (26.964484899328834, 'Manila'),
 (16.110147403685087, 'Mexico'),
 (15.260135906040258, 'Nagoya'),
 (26.17073489932885, 'Nagpur'),
 (25.6779832214765, 'New Delhi'),
 (20.256132550335554, 'São Paulo'),
 (4.633404362416109, 'Saint Petersburg'),
 (25.22855704697987, 'Salvador'),
 (6.1688607382550344, 'Santiago'),
 (26.854773489932878, 'Surat'),
 (17.41283389261745, 'Sydney'),
 (22.7275268456376, 'Taipei'),
 (12.197115771812072, 'Tangshan'),
 (29.482666107382578, 'Umm Durman'),
 (11.920523489932892, 'Xian'),
 (10.892434563758403, 'Ankara'),
 (25.367369127516803, 'Bangalore'),
 (27.683369127516773, 'Bangkok'),
 (21.62949161073824, 'Belo Horizonte'),
 (9.587335570469786, 'Berlin'),
 (20.50760234899329, 'Bogotá'),
 (22.26893120805368, 'Brasília'),
 (21.771622483221492, 'Cairo'),
 (22.300607382550353, 'Cali'),
 (16.522567114093953, 'Cape Town'),
 (25.083620805369126, 'Dakar'),
 (10.83786409395973, 'Dalian'),
 (26.084587248322162, 'Dar Es Salaam'),
 (25.6779832214765, 'Delhi'),
 (20.813662751677853, 'Durban'),
 (21.771622483221492, 'Gizeh'),
 (20.592867449664475, 'Harare'),
 (27.677159395973177, 'Ho Chi Minh City'),
 (27.381038590604053, 'Hyderabad'),
 (13.997744966442955, 'Istanbul'),
 (17.68582046979866, 'Izmir'),
 (13.649879194630874, 'Jinan'),
 (14.887864093959731, 'Kabul'),
 (25.25575167785233, 'Kanpur'),
 (26.57513758389265, 'Karachi'),
 (7.8062315436241505, 'Kiev'),
 (24.22417281879194, 'Kinshasa'),
 (26.970525167785205, 'Lagos'),
 (25.25575167785233, 'Lakhnau'),
 (17.116662751677854, 'Lima'),
 (10.003986577181212, 'London'),
 (24.08443120805373, 'Luanda'),
 (28.93469798657719, 'Madras'),
 (11.965947986577191, 'Madrid'),
 (13.341367449664434, 'Mashhad'),
 (13.804590604026833, 'Melbourne'),
 (27.510416107382536, 'Mogadishu'),
 (5.346487437185931, 'Montreal'),
 (4.868119127516783, 'Moscow'),
 (16.44134060402684, 'Nairobi'),
 (16.080857382550352, 'Nanjing'),
 (10.320043551088778, 'New York'),
 (10.986129194630873, 'Paris'),
 (12.49093791946308, 'Peking'),
 (25.161604026845655, 'Pune'),
 (27.24790939597315, 'Rangoon'),
 (24.35717785234897, 'Rio De Janeiro'),
 (25.844830536912752, 'Riyadh'),
 (12.51335402684564, 'Rome'),
 (26.504271356783914, 'Santo Domingo'),
 (11.290145973154361, 'Seoul'),
 (16.458708053691268, 'Shanghai'),
 (7.915882550335572, 'Shenyang'),
 (27.034555369127503, 'Singapore'),
 (27.298065436241615, 'Surabaya'),
 (8.587211409395975, 'Taiyuan'),
 (12.49093791946308, 'Tianjin'),
 (13.02666610738255, 'Tokyo'),
 (6.553924623115576, 'Toronto'),
 (17.24378355704698, 'Wuhan')]

In [55]:
rdd11.sortByKey().first()

(4.435406040268453, 'Harbin')

In [56]:
rdd11.sortByKey(False).first()

(29.482666107382578, 'Umm Durman')

In [57]:
29.482666107382578 - 4.435406040268453

25.047260067114124

In [86]:
rddp1 = sc.textFile("../Downloads/worldcities.csv")
rddp1.take(5)

['"city","city_ascii","lat","lng","country","iso2","iso3","admin_name","capital","population","id"',
 '"Tokyo","Tokyo","35.6850","139.7514","Japan","JP","JPN","Tōkyō","primary","35676000","1392685764"',
 '"New York","New York","40.6943","-73.9249","United States","US","USA","New York","","19354922.0","1840034016"',
 '"Mexico City","Mexico City","19.4424","-99.1310","Mexico","MX","MEX","Ciudad de México","primary","19028000","1484247881"',
 '"Mumbai","Mumbai","19.0170","72.8570","India","IN","IND","Mahārāshtra","admin","18978000","1356226629"']

In [87]:
rddp2 = rddp1.filter(lambda x: not x.startswith('"city"'))
rddp2.take(5)

['"Tokyo","Tokyo","35.6850","139.7514","Japan","JP","JPN","Tōkyō","primary","35676000","1392685764"',
 '"New York","New York","40.6943","-73.9249","United States","US","USA","New York","","19354922.0","1840034016"',
 '"Mexico City","Mexico City","19.4424","-99.1310","Mexico","MX","MEX","Ciudad de México","primary","19028000","1484247881"',
 '"Mumbai","Mumbai","19.0170","72.8570","India","IN","IND","Mahārāshtra","admin","18978000","1356226629"',
 '"São Paulo","Sao Paulo","-23.5587","-46.6250","Brazil","BR","BRA","São Paulo","admin","18845000","1076532519"']

In [88]:
rddp3 = rddp2.map(lambda x: x.split(","))
rddp3.take(5)

[['"Tokyo"',
  '"Tokyo"',
  '"35.6850"',
  '"139.7514"',
  '"Japan"',
  '"JP"',
  '"JPN"',
  '"Tōkyō"',
  '"primary"',
  '"35676000"',
  '"1392685764"'],
 ['"New York"',
  '"New York"',
  '"40.6943"',
  '"-73.9249"',
  '"United States"',
  '"US"',
  '"USA"',
  '"New York"',
  '""',
  '"19354922.0"',
  '"1840034016"'],
 ['"Mexico City"',
  '"Mexico City"',
  '"19.4424"',
  '"-99.1310"',
  '"Mexico"',
  '"MX"',
  '"MEX"',
  '"Ciudad de México"',
  '"primary"',
  '"19028000"',
  '"1484247881"'],
 ['"Mumbai"',
  '"Mumbai"',
  '"19.0170"',
  '"72.8570"',
  '"India"',
  '"IN"',
  '"IND"',
  '"Mahārāshtra"',
  '"admin"',
  '"18978000"',
  '"1356226629"'],
 ['"São Paulo"',
  '"Sao Paulo"',
  '"-23.5587"',
  '"-46.6250"',
  '"Brazil"',
  '"BR"',
  '"BRA"',
  '"São Paulo"',
  '"admin"',
  '"18845000"',
  '"1076532519"']]

In [78]:
rddp3.count()

15493

In [89]:
rddp4 = rddp3.map(lambda x: (x[0].strip('"'), x[-2].strip('"')))
rddp4.take(5)

[('Tokyo', '35676000'),
 ('New York', '19354922.0'),
 ('Mexico City', '19028000'),
 ('Mumbai', '18978000'),
 ('São Paulo', '18845000')]

In [90]:
rddp5 = rddp4.filter(lambda x: x != '')
rddp5.take(5)

[('Tokyo', '35676000'),
 ('New York', '19354922.0'),
 ('Mexico City', '19028000'),
 ('Mumbai', '18978000'),
 ('São Paulo', '18845000')]

In [99]:
def convert(x):
    try:
        return float(x)
    except ValueError:
        return 0

rddp6 = rddp5.map(lambda x: (x[0], convert(x[1])))
rddp6.take(5)

[('Tokyo', 35676000.0),
 ('New York', 19354922.0),
 ('Mexico City', 19028000.0),
 ('Mumbai', 18978000.0),
 ('São Paulo', 18845000.0)]

In [92]:
rddt = rdd10.map(lambda x: (x[0], x[1][0]/x[1][1]))
rddt.take(5)

[('Abidjan', 26.600332214765103),
 ('Addis Abeba', 17.87980033557048),
 ('Ahmadabad', 27.050808724832223),
 ('Aleppo', 17.944998322147633),
 ('Alexandria', 20.82230201342283)]

In [93]:
rddt.count()

100

In [100]:
rddr = rddt.join(rddp6)
rddr.take(5)

[('Changchun', (5.7103825503355745, 3183000.0)),
 ('Chengdu', (10.972704697986591, 4123000.0)),
 ('Chongqing', (17.13951510067112, 6461000.0)),
 ('Dhaka', (25.98408389261742, 12797394.0)),
 ('Faisalabad', (24.6121677852349, 2617000.0))]

In [101]:
rddr.count()

111

In [102]:
rddr.collect()

[('Changchun', (5.7103825503355745, 3183000.0)),
 ('Chengdu', (10.972704697986591, 4123000.0)),
 ('Chongqing', (17.13951510067112, 6461000.0)),
 ('Dhaka', (25.98408389261742, 12797394.0)),
 ('Faisalabad', (24.6121677852349, 2617000.0)),
 ('Fortaleza', (27.437471476510073, 3602319.0)),
 ('Jaipur', (25.914161073825493, 2917000.0)),
 ('Jakarta', (26.999342281879223, 9125000.0)),
 ('Mexico', (16.110147403685087, 11320.0)),
 ('Santiago', (6.1688607382550344, 5720000.0)),
 ('Santiago', (6.1688607382550344, 1550753.0)),
 ('Santiago', (6.1688607382550344, 45955.0)),
 ('Santiago', (6.1688607382550344, 0)),
 ('Santiago', (6.1688607382550344, 10449.0)),
 ('Tangshan', (12.197115771812072, 1879000.0)),
 ('Ankara', (10.892434563758403, 3716000.0)),
 ('Bogotá', (20.50760234899329, 7772000.0)),
 ('Brasília', (22.26893120805368, 3716996.0)),
 ('Harare', (20.592867449664475, 1572000.0)),
 ('Hyderabad', (27.381038590604053, 6376000.0)),
 ('Kinshasa', (24.22417281879194, 7843000.0)),
 ('Lagos', (26.970525167785205, 9466000.0)),
 ('Luanda', (24.08443120805373, 5172900.0)),
 ('Madras', (28.93469798657719, 9059.0)),
 ('Madrid', (11.965947986577191, 5567000.0)),
 ('Mashhad', (13.341367449664434, 2469000.0)),
 ('Melbourne', (13.804590604026833, 4170000.0)),
 ('Melbourne', (13.804590604026833, 82011.0)),
 ('Moscow', (4.868119127516783, 10452000.0)),
 ('Moscow', (4.868119127516783, 25579.0)),
 ('Pune', (25.161604026845655, 4672000.0)),
 ('Rangoon', (27.24790939597315, 4088000.0)),
 ('Rome', (12.51335402684564, 3339000.0)),
 ('Rome', (12.51335402684564, 60966.0)),
 ('Rome', (12.51335402684564, 32185.0)),
 ('Seoul', (11.290145973154361, 9796000.0)),
 ('Shanghai', (16.458708053691268, 14987000.0)),
 ('Shenyang', (7.915882550335572, 4787000.0)),
 ('Singapore', (27.034555369127503, 5183700.0)),
 ('Surabaya', (27.298065436241615, 2845000.0)),
 ('Tokyo', (13.02666610738255, 35676000.0)),
 ('Toronto', (6.553924623115576, 5213000.0)),
 ('Abidjan', (26.600332214765103, 3802000.0)),
 ('Aleppo', (17.944998322147633, 2738000.0)),
 ('Alexandria', (20.82230201342283, 4165000.0)),
 ('Alexandria', (20.82230201342283, 160035.0)),
 ('Alexandria', (20.82230201342283, 49346.0)),
 ('Alexandria', (20.82230201342283, 82131.0)),
 ('Alexandria', (20.82230201342283, 20851.0)),
 ('Alexandria', (20.82230201342283, 9438.0)),
 ('Alexandria', (20.82230201342283, 5015.0)),
 ('Baghdad', (23.313369127516765, 5054000.0)),
 ('Casablanca', (17.693463087248308, 3181000.0)),
 ('Chicago', (10.743500837520939, 8675982.0)),
 ('Guangzhou', (21.973776845637584, 8829000.0)),
 ('Harbin', (4.435406040268453, 3621000.0)),
 ('Ibadan', (26.757533557047015, 2628000.0)),
 ('Kano', (26.551578859060402, 3140000.0)),
 ('Lahore', (24.6121677852349, 6577000.0)),
 ('Los Angeles', (16.241087102177563, 12815475.0)),
 ('Manila', (26.964484899328834, 11100000.0)),
 ('Nagoya', (15.260135906040258, 3230000.0)),
 ('New Delhi', (25.6779832214765, 317797.0)),
 ('São Paulo', (20.256132550335554, 18845000.0)),
 ('Saint Petersburg', (4.633404362416109, 4553000.0)),
 ('Salvador', (25.22855704697987, 3484000.0)),
 ('Sydney', (17.41283389261745, 4630000.0)),
 ('Sydney', (17.41283389261745, 37538.0)),
 ('Taipei', (22.7275268456376, 6900273.0)),
 ('Bangkok', (27.683369127516773, 6704000.0)),
 ('Belo Horizonte', (21.62949161073824, 5575000.0)),
 ('Berlin', (9.587335570469786, 3406000.0)),
 ('Berlin', (9.587335570469786, 20584.0)),
 ('Berlin', (9.587335570469786, 11351.0)),
 ('Berlin', (9.587335570469786, 7606.0)),
 ('Cairo', (21.771622483221492, 11893000.0)),
 ('Cairo', (21.771622483221492, 9244.0)),
 ('Cairo', (21.771622483221492, 6483.0)),
 ('Cali', (22.300607382550353, 2254000.0)),
 ('Cape Town', (16.522567114093953, 3215000.0)),
 ('Dakar', (25.083620805369126, 2604000.0)),
 ('Dalian', (10.83786409395973, 3167000.0)),
 ('Delhi', (25.6779832214765, 15926000.0)),
 ('Delhi', (25.6779832214765, 11622.0)),
 ('Durban', (20.813662751677853, 2729000.0)),
 ('Ho Chi Minh City', (27.677159395973177, 5314000.0)),
 ('Istanbul', (13.997744966442955, 10061000.0)),
 ('Jinan', (13.649879194630874, 2798000.0)),
 ('Kabul', (14.887864093959731, 3277000.0)),
 ('Karachi', (26.57513758389265, 12130000.0)),
 ('Lima', (17.116662751677854, 8012000.0)),
 ('Lima', (17.116662751677854, 69798.0)),
 ('London', (10.003986577181212, 8567000.0)),
 ('London', (10.003986577181212, 346765.0)),
 ('London', (10.003986577181212, 37424.0)),
 ('London', (10.003986577181212, 14597.0)),
 ('Mogadishu', (27.510416107382536, 1100000.0)),
 ('Nairobi', (16.44134060402684, 3010000.0)),
 ('Nanjing', (16.080857382550352, 3679000.0)),
 ('New York', (10.320043551088778, 19354922.0)),
 ('Paris', (10.986129194630873, 9904000.0)),
 ('Paris', (10.986129194630873, 25961.0)),
 ('Paris', (10.986129194630873, 12662.0)),
 ('Paris', (10.986129194630873, 10576.0)),
 ('Paris', (10.986129194630873, 8431.0)),
 ('Paris', (10.986129194630873, 5148.0)),
 ('Riyadh', (25.844830536912752, 4465000.0)),
 ('Santo Domingo', (26.504271356783914, 2154000.0)),
 ('Taiyuan', (8.587211409395975, 2913000.0)),
 ('Tianjin', (12.49093791946308, 7180000.0)),
 ('Wuhan', (17.24378355704698, 7243000.0))]

In [104]:
rddp7 = rddp6.reduceByKey(lambda a, x: max(a, x))
rddp7.take(5)

[('Mexico City', 19028000.0),
 ('Mumbai', 18978000.0),
 ('São Paulo', 18845000.0),
 ('Los Angeles', 12815475.0),
 ('Dhaka', 12797394.0)]

In [105]:
rddr = rddt.join(rddp7)
rddr.take(5)

[('Changchun', (5.7103825503355745, 3183000.0)),
 ('Chengdu', (10.972704697986591, 4123000.0)),
 ('Chongqing', (17.13951510067112, 6461000.0)),
 ('Dhaka', (25.98408389261742, 12797394.0)),
 ('Faisalabad', (24.6121677852349, 2617000.0))]

In [106]:
rddr.count()

81

In [107]:
d = rddr.collect()

In [114]:
t = [x[1][0] for x in d]
p = [x[1][1] for x in d]

In [115]:
import numpy as np

np.corrcoef(t, p)

array([[ 1.        , -0.08852133],
       [-0.08852133,  1.        ]])